/* ===========================
   GENERAL
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f9f8;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#333333;
}

h2{
    margin:20px 0 10px;
    color:#444444;
}

/* ==========================
   NAVIGATION BAR
========================== */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#0077cc;

    padding:15px 30px;

}

.logo h2{

    color:white;

}

.nav-links{

    list-style:none;

    display:flex;

    gap:20px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:bold;

}

.nav-links a:hover{

    color:yellow;

}

/* ==========================
   BACK BUTTON
========================== */

.top-buttons{

    margin:20px;

}

.top-buttons button{

    padding:10px 20px;

    background:#0077cc;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

}

.top-buttons button:hover{

    background:#005fa3;

}

/* ==========================
   HERO
========================== */

.hero{

    text-align:center;

    padding:60px;

}

.hero h1{

    margin-bottom:20px;

}

.hero p{

    font-size:18px;

    margin-bottom:30px;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

}

.btn{

    padding:12px 25px;

    background:#0077cc;

    color:white;

    text-decoration:none;

    border-radius:5px;

}

.btn:hover{

    background:#005fa3;

}

.btn-secondary{

    background:#28a745;

}

.btn-secondary:hover{

    background:#1f7d34;

}

/* ==========================
   FEATURE CARDS
========================== */

.features{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;

    margin:40px;

}

.card{

    background:white;

    padding:20px;

    text-align:center;

    border-radius:10px;

    box-shadow:0 2px 8px rgba(0, 0, 0, 0.2);

}

.card a{

    display:inline-block;

    margin-top:15px;

    text-decoration:none;

    color:white;

    background:#0077cc;

    padding:10px 20px;

    border-radius:5px;

}

.card a:hover{

    background:#005fa3;

}

/* ==========================
   ABOUT
========================== */

.about{

    margin:40px;

    text-align:center;

}

/* ==========================
   FOOTER
========================== */

footer{

    background:#0077cc;

    color:white;

    text-align:center;

    padding:15px;

    margin-top:40px;

}

/* Login Page */

/* ==========================
   GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f4f7fc;

}

/* ==========================
   NAVBAR
========================== */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#0f4c81;

    padding:15px 50px;

}

.logo h2{

    color:white;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:25px;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}

.nav-links a:hover{

    color:#ffd54f;

}

/* ==========================
   BACK BUTTON
========================== */

.top-buttons{

    margin:20px;

}

.top-buttons button{

    background:#2a6bc7;

    color:white;

    padding:18px 24px;

    border-radius:10px;

    cursor:pointer;

}

.top-buttons button:hover{

    background:#1565c0;

}

/* ==========================
   LOGIN PAGE
========================== */

.login-container{

    display:flex;

    height:calc(100vh - 100px);

}

/* LEFT PANEL */

.login-left{

    width:100%;

    background:linear-gradient(135deg,#8eece4,#0f4c81,#25ebc3f3);
    
    color:black;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:50px;

}

.login-left h1{

    font-size:45px;

    color:white;

    line-height:60px;

    text-align:center;

}

/* RIGHT PANEL */

.login-right{

    width:55%;

    display:flex;

}

/* LOGIN CARD */

.login-card{

    width:450px;

    background:white;

    padding:45px;

    border-radius:40px;

    box-shadow:0 15px 35px rgba(0, 0, 0, 0.174);

}

/* HEADER */

.login-header{

    text-align:center;

    margin-bottom:40px;

}

.login-header h2{

    color:#0f4c81;

    font-size:34px;

    margin-bottom:10px;

}

.login-header p{

    color:black;

    font-size:18px;

}

/* INPUTS */

.input-group{

    margin-bottom:40px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:bold;

}

.input-group input{

    width:100%;

    padding:14px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}

.input-group input:focus{

    outline:none;

    border:2px solid #2563eb;

}

/* OPTIONS */

.options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

    font-size:15px;

}

.options a{

    text-decoration:none;

    color:#2563eb;

}

.options a:hover{

    text-decoration:underline;

}

/* LOGIN BUTTON */

.login-card button{

    width:100%;

    padding:15px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:.4s;

}

.login-card button:hover{

    background:#0f4c81;

}

/* REGISTER */

.register-link{

    text-align:center;

    margin-top:20px;

}

.register-link a{

    color:#8802b5;

    text-decoration:none;

    font-weight:bold;

}

/* MESSAGE */

#message{

    text-align:center;

    color:red;

    margin-top:20px;

}

/* RESPONSIVE */

@media(max-width:900px){

    .login-container{

        flex-direction:column;

    }

    .login-left{

        width:100%;

        height:250px;

    }

    .login-right{

        width:100%;

        padding:30px;

    }

    .login-card{

        width:100%;

        max-width:450px;

    }

}



/* ==========================
   REGISTER PAGE
========================== */

.register-page{

    width:100%;
    background:linear-gradient(135deg,#8eece4,#1a63a4,#25ebc3f3);

    padding:40px 20px;

}


.logo h1{

    font-size:42px;

    color:white;

    margin-bottom:10px;

}


.title h2{

    font-size:42px;

    text-align:center;

    font-weight:bold;

    background-color: rgb(128, 200, 243);

    color:black;

    margin-bottom:10px;

}



/* Title */

.register-title{

    text-align:center;

    margin-bottom:35px;

}


.register-title h3{

    font-size:42px;

    font-weight:bold;

    color:black;

    margin-bottom:10px;

}

.register-title p{

    font-size:18px;

    font-weight:bold;

    color:black;

}

/* Card */

.register-card{

    width:600px;

    max-width:90%;

    margin:auto;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

/* Input */

.register-card .input-group{

    margin-bottom:20px;

}

.register-card label{

    display:block;

    margin-bottom:8px;

    font-weight:bold;

    color:#333;

}

.register-card input{

    width:100%;

    padding:14px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

    transition:.3s;

}

.register-card input:focus{

    outline:none;

    border-color:#2563eb;

    box-shadow:0 0 6px rgba(37,99,235,.3);

}

/* Button */

.register-card button{

    width:100%;

    margin-top:15px;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#0f4c81;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.register-card button:hover{

    background:#2563eb;

}

/* Footer */

.register-footer{

    text-align:center;
    
    margin-top:25px;

    font-size:16px;

}

.register-footer a{

    color:#0f4c81;

    text-decoration:none;

    font-weight:bold;

}

.register-footer a:hover{

    text-decoration:underline;

}

